*{

    padding: 0;
    margin: 0;
    box-sizing: none;

}

:root{

    background-color: black;

}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1865px;
    height: 80px;
    background-color: aliceblue;

}

.section-background{

    
    display: flex;
    justify-content: center;

}

#img-background{

    display: flex;
    justify-content: center;
    max-width: 1850px;

}

#text-logotype{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: absolute;
    top:20px;
    left: 800px;

}

.link-logotype{

    text-decoration: none;
    color:black;

}

.link-logotype:hover{

    transition: 0.3s ease;
    color: rgb(175, 110, 26);
}

.hamburger{

    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    left: 480px;

}

.camada{

    width: 28px;
    height: 3px;
    margin: 3px 0;
    background-color: black;

}

.camada:hover{

    color:red;

}

.menu{

    width: 200px;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: 0.3s ease;
    left: -200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);

}

.menu.expandir-menu{

    left: 0;

}

.menu a{

    color:black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;

}

.menu a:hover{

    transition: 0.3s ease;
    color: rgb(168, 124, 66);

}

.menu li{

    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

.craft{

    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: absolute;
    top:250px;
    left: 320px;
    color:white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.517);
}

#title-unique-craft-cafe-in-nyc{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    margin-top: 80px;
    right:250px;
    line-height: 4.1rem;

}

#paragraph{

    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:270px;
    left: 40px;
    line-height: 40px;

}

#text-view-menu{

    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.517);
    padding: 20px;
    border-radius: 100px;
    border: solid white 1px;
    width: 180px;
    text-align: center;
    top:450px;
    left: 50px;

}

.link-view-menu{

    text-decoration: none;
    color: white;

}

.link-view-menu:hover{

    transition: 0.3s ease;
    color: rgb(225, 171, 100);

}

.Coffee-e-Cakes{

    display: flex;
    justify-content: center;
    height: 900px;
    background-color: rgb(255, 255, 255);

}

#h1-title-coffee{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
    top: 1110px;
    margin: 10px;
    position: absolute;


}

.in-addition{

    display: flex;
    justify-content: center;
    background-color: #bfa98b;
    width: 500px;
    height: 250px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
    left:300px;
    top:200px;


}

#primeiro-paragrafo-do-in-addition{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    top: 39px;
    position: absolute;
    color:white;

}

#segundo-paragrafo-do-in-addition{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 100;
    position: absolute;
    color: white;
    top: 140px;

}

.img-paragrafo-in-addition{

    position: absolute;
    width: 403px;
    height: 203px;
    bottom: -543px;
    left: 500px;

}

#title-img-coffee-e-cakes{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    bottom: -650px;
    left:456px;

}

#paragrafo-title-coffee-cakes{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    bottom: -699px;
    left: 986px;

}

.img-section-coffee-bottom{

    width:403px;
    height: 203px;
    position: absolute;
    bottom: -920px;
    left:1035px;

}

.coffee-is-rich{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    width: 430px;
    height: 200px;
    background-color: #bfa98b;
    border-radius: 34px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
    bottom: -900px;
    right: 940px;

}

#paragrafo-do-coffee-is-rich{

    color:white;
    padding: 10px;
    text-align: center;
    position: absolute;

}

.section-bottom-coffe-e-cakes{

    display: flex;
    justify-content: center;

}

.img-section-bottom{

    width: 1300px;

}